<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="form-group">
        <h3>
            info
        </h3>
        <h3>
            <%= article.title %>
        </h3>
        <p>
            <%= article.description %>
        </p>
        <button>
            <a href="/">
            Back
            </a>
        </button>
    </div>
</body>
</html>